**/frontend/node_modules
**/backend/virtualenv

**/Images_Documentation/
**/Task description.pdf
**/api/__pycache__/views.cpython-39.pyc
**/backend/__pycache__/settings.cpython-39.pyc
**/backend/api/__pycache__/*.pyc     
**/backend/api/migrations/**
**/backend/db3.sqlite3
**/backend/api/__pycache__/**
**/backend/api/__pycache__/urls.cpython-39.pyc
**/backend/__pycache__/**
backend/api/__pycache__/urls.cpython-39.pyc
backend/backend/__pycache__/urls.cpython-39.pyc